<h1>Showing the selected Article</h1>

<p>
	Title: <%= @article.title %>
</p>

<p>
	Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %><br/>
<%= link_to"Back to Listing Articles", articles_path %>